.contact-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #262a2b;
}

#contact-message {
    margin-top: 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #b7b7b7;
    margin-bottom: 3%;
}

#contact-title {
    font-size: 40px;
    text-align: center;
}

#contact-email {
    font-size: 23px;
    font-weight: bold;
    margin-top: 1%;
    padding: 0;
    border: none;
    background: none;
    color: #b7b7b7;
}

#contact-subtitle {
    margin: 0;
    color: #E9AA78;
    text-align: center;
}

#contact-container-links {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}

.contact-logos {
    height: 70px;
    width: 70px;
}

@media screen and (max-width: 550px) {
    #contact-container-links {
        margin-top: 15%;
    }

    #contact-email {
        margin-top: 10%;
    }

    .contact-logos {
        margin-bottom: 50px;
    }
}